<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Stripe Payment -->
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <link rel="stylesheet" href="/stylesheets/stripe/global.css" />
  <script src="https://js.stripe.com/v3/"></script>
  <script src="/javascript/stripe.js" defer></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Marktplaats</title>
</head>

<body>
  <% include menu %> <% // include search %>
  <% if (error && error.length > 0) { %>
  <div class="alert alert-danger h5" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <%=error%></div>
  <% } %>
  <% if (success && success.length > 0) { %>
  <div class="alert alert-success h5" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <%=success%></div>
  <% } %>
  <div class="container mb-2 pt-3">