<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="/"> <img src="/images/logo.png" width="250" height="72" /> Marktplaats </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><span>Home</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/advertenties"><span>Alle advertenties</span></a>
      </li>
      <% if(!currentUser){ %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup"><span>Registreren</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login"><span>Inloggen</span></a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/account/index"><span><%= currentUser.username %></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/account/berichten"><span><i class="fa fa-envelope" aria-hidden="true"></i> <span class="badge badge-info">9</span> Mijn berichten</span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout"><span>Uitloggen</span></a>
      </li>
      <% } %>
      <!-- <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li> -->
    </ul>
    <a href="/advertenties/new" title="Klik hier om een advertentie aan te maken" class="btn btn-warning">
      <i class="fa fa-plus-square text-white" aria-hidden="true"></i> Advertentie aanmaken
    </a>
  </div>
</nav>