<div class="row">
    <div class="col text-center">
        <form class="form-inline">
            <input type="text" name="search" placeholder="Zoek advertentie" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Zoek</button>
        </form>
    </div>
</div>