<div class="text-center">
  <h1>Reageren op <%=product.comments.author.username %></h1>

  <div class="form-group">
    <textarea name="" id="" cols="30" rows="10">

  <%= product.comments.content %>
  
  </textarea
    >
  </div>
</div>
