<% include partials/header %>
<h1>Marktplaats</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quas, voluptate natus praesentium, voluptatum maxime
    quam magni enim libero dolor aspernatur modi obcaecati necessitatibus quibusdam. Laboriosam cupiditate debitis odio
    corporis.</p>
<div class="row">
    <div class="col">
        <h2>Nieuwste advertenties</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col"> <img src="images/products/camera.jpg" width="300" height="200"></div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary">Ga naar de advertentie</a>
                </div>
            </div>
           
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card shadow">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
    <div class="col">
        <div class="card shadow">
            <img src="images/products/camera.jpg" width="300" height="200">
        </div>
    </div>
</div>

<% include partials/footer %>