<% include partials/header %>
<div class="row justify-content-center">
  <div class="col-8 justify-content-center">
    <h1 class="text-dark">Marktplaats</h1>
  </div>
</div>
<!-- begin searchbar -->
<div class="row justify-content-center">
  <div class="col-8 justify-content-center">
    <form action="/advertenties" method="get">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col">
              <input id="searchInput" type="text" class="form-control mb-2" name="search" placeholder="Zoekterm">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select name="municipalities[]" data-placeholder="Kies gemeenten..." class="select2 form-control"
                multiple="multiple">
                <option value="all">--- Alle gemeenten ---</option>
                <% municipalities.forEach(municipality => { %>
                <option value="<%=municipality%>"><%=municipality%></option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <button id="searchButton" type="submit" class="btn btn-warning mb-2" disabled=""><i class="fa fa-search"
              aria-hidden="true"></i> Zoeken</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- eind searchbar -->

<div class="row justify-content-center">
  <div class="col-8 justify-content-center">
    <h2>Alle categorieën</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="list-group col-8">
    <% product.forEach(function(product){ %>
    <a href="/categorieen/<%=product%>" class="list-group-item list-group-item-action list-group-item-light"><i
        class="fa fa-tag" aria-hidden="true"></i> <%=product%></a>
    <% }) %>
  </div>
</div>
<% include partials/footer %>