<% include partials/header %>
<h1>Marktplaats</h1>
<div class="row">
    <div class="col">
        <h2>Nieuwste advertenties</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5><a href="#">Mooie mountainbike</a></h5>
                <div class="card-text">Deze mountainbike is amper gebruikt. Nu te koop voor een vriendenprijsje.</div>
                
                
                <a href="#" class="btn btn-outline-dark">Ga naar de advertentie</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>