<% include partials/header %>
<h1>Marktplaats</h1>
<div class="row">
    <div class="col">
        <h2>Nieuwste advertenties</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col">Titel van advertentie</div>
            </div>
            <div class="row">
                    <div class="col">
                        Tekst van de advertentie
                    </div>
                </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary">Ga naar de advertentie</a>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footer %>