<% include partials/header %>
<h1>Marktplaats</h1>
<div class="row">
    <div class="col">
        <h2>Nieuwste advertenties</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5><a href="#">Mooie mountainbike</a></h5>
                <div class="card-text">Deze mountainbike is amper gebruikt. Nu te koop voor een vriendenprijsje.</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="/advertenties/new" title="Klik hier om een advertentie aan te maken" class="btn btn-outline-dark">Advertentie aanmaken</a>
    </div>
</div>

<% include partials/footer %>