<% include partials/header %>
<h1 class="text-dark">Marktplaats</h1>
<div class="row">
  <div class="col">
    <h2>Categorie&#235;n</h2>
  </div>
</div>
<div class="row">
  <div class="list-group col-md-3 d-none d-md-block">
    <% product.forEach(function(product){ %>

    <a href="/categories/<%=product%>" class="list-group-item list-group-item-action"><%=product%></a>
    <% }) %>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <a href="/advertenties/new" title="Klik hier om een advertentie aan te maken" class="btn btn-warning">Advertentie aanmaken</a>
  </div>
</div>

<% include partials/footer %>
