<% include partials/header %>
<h1 class="text-dark">Marktplaats</h1>
<div class="row">
  <div class="col">
    <h2>Alle categorieën</h2>
  </div>
</div>
<div class="row">
  <div class="list-group col-6">
    <% product.forEach(function(product){ %>
    <a href="/categorieen/<%=product%>" class="list-group-item list-group-item-action"><%=product%></a>
    <% }) %>
  </div>
</div>
<% include partials/footer %>