<h1>New ad</h1>

<form action="/advertenties" method="POST">
  <input type="text" name="product[title]" id="" placeholder="Titel" />
  <input type="text" name="product[body]" id="" placeholder="Omschrijving" />
  <input type="submit" value="Opslaan" />
</form>
