<h1>New ad</h1>

<form action="/" method="POST">
  <input type="text" name="product[title]" id="" placeholder="Titel" />
  <input type="text" name="product[body]" id="" placeholder="Omschrijving" />
  <input type="button" value="opslaan" />
</form>
