<% include ../partials/header %>

<h1>Berichten:</h1>

<% product.messages.forEach(function(message){ %>
<p><%= message.author.username %> - <%= message.content %></p>
<a class="btn btn-primary" href="/advertenties/<%=product.id%>/messages/<%=message.id%>/reactie">Reageer</a>
<% }) %>

<br />

<% include ../partials/footer %>
