/* ALGEMEEN */

a.btn-ct {
  padding: 15px;
  color: #fefefe;
  border: 1px solid #fdc737 !important;
  width: 200px;
  margin-bottom: 3px;
}
a:hover.btn-ct {
  background-color: #fdc737;
  color: #fff !important;
}

.card-header .btn {
  color: #fff;
  text-align: left;
}
.card-header .btn:hover {
  color: #172338;
}

/* #headingOne, #headingTwo, #headingThree, #headingFour, #headingFive{
  background-color:#172338;
  background-color: #e5b029;
}
#headingOne:hover, #headingTwo:hover, #headingThree:hover, #headingFour:hover, #headingFive:hover{
  background-color:#fefefe;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  padding-top: 25px;
}

a {
  border: none !important;
  text-decoration: none !important;
}

::selection {
  color: white;
  background: #fdc737;
}

.btn:focus,
.btn:active,
a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.a-leesmeer,
.a-leesmeer:focus {
  color: #a63f27 !important;
  border-bottom: 1px solid #a63f27;
}

.a-leesmeer:hover,
.a-leesmeer:active {
  color: #105c4c !important;
  text-decoration: none;
  border-bottom: 1px solid #105c4c;
}

.small-div {
  width: 70%;
}

.buttton-div {
  width: 50%;
}

form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/* HUISSTIJL */
.dd-link {
  color: #172338 !important;
  font-weight: normal;
  cursor: pointer;
}
.bg-blauw {
  background-color: #172338;
  color: #fff;
}

.btn-geel,
.btn-geel:focus {
  color: #fff !important;
  background-color: #fdc737 !important;
  border: 1px solid #fdc737 !important;
}

.btn-geel:hover {
  color: #fff !important;
  background-color: #e5b029 !important;
  border: 1px solid #e5b029 !important;
}

.btn-outline-geel,
.btn-outline-geel:focus {
  color: #fff !important;
  background-color: transparent !important;
  border: 1px solid #fdc737 !important;
  margin: auto;
  width: 50%;
}

.btn-outline-geel:hover {
  color: #fff !important;
  background-color: #fdc737 !important;
  border: 1px solid #fdc737 !important;
}

/* HEADER */

.navbar-nav .nav-item .nav-link > span {
  padding: 1.1em 0.5em !important;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #172338 !important;
}

.nav-item:focus .nav-link > span:focus {
  color: #172338 !important;
}

.nav-item .nav-link > span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: transparent;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.nav-item .nav-link > span:hover:after {
  width: 100%;
  left: 0;
  background: #fdc737;
}

.navbar-toggler:focus {
  outline: none !important;
}

nav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

.navbar {
  transition: 500ms ease;
  background: #fff;
}

/* .navbar.scrolled {
  background: #172338;
}

.navbar.scrolled .nav-item .nav-link>span {
  color: #fff !important;
}

.nav-item.scrolled:focus .nav-link>span.scrolled:focus {
  color: #fff !important;
} */

.nav-item .nav-link > span {
  position: relative;
}

/* HERO IMAGE */

.banner {
  background-image: linear-gradient(rgba(23, 35, 56, 0.5), rgba(23, 35, 56, 0.5)), url("../images/DSC_0057.JPG");

  /* background-color: transparent; */
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-text {
  padding: 200px 0 150px 0;
}

.banner-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  color: #fff;
}

.banner-sub-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.banner-div {
  width: 80%;
}

/* FAQ */

.panel-default > .panel-heading {
  background-color: #fff;
  border: 1px solid #172338;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default > .panel-heading:hover {
  background-color: #172338;
}

.panel-default > .panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  float: right;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: transparent;
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.panel-title a,
.panel-title a:focus {
  color: #172338;
  text-decoration: none;
}

.panel-title a:hover {
  color: #fff;
  border: none;
  text-decoration: none;
}

.panel-title {
  margin-bottom: 0 !important;
}

.panel-body {
  background-color: #fff;
  color: #000;
  border: 1px solid #172338;
  margin-bottom: 8px;
  padding: 10px 15px;
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
}

/* INSCHRIJVEN */

.card-title,
.card-title:focus {
  color: #172338;
}

.card-body {
  background-color: #fff;
  position: relative;
}

.card {
  overflow: hidden;
  position: relative;
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
  overflow: hidden;
}

.zoom:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  overflow: hidden;
}

.a-verstuurd .a-verstuurd:focus {
  color: #172338 !important;
  border-bottom: 1px solid #172338 !important;
}

.a-verstuurd:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 1px;
  right: 0;
  background: transparent;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  border: none !important;
}

.a-verstuurd:hover {
  border: none !important;
}

.a-verstuurd:hover:after {
  width: 100%;
  left: 0;
  color: #172338 !important;
  background: #fdc737;
  border: none !important;
}

.a-verstuurd {
  color: #172338 !important;
  position: relative;
  border-bottom: 1px solid #172338 !important;
}

/* FOOTER */

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.footer li a {
  display: block;
  color: #fff;
}

.social-icons {
  text-align: right;
}

.foot-link > span,
.foot-link > span:focus {
  color: #172338 !important;
  text-decoration: none !important;
}

.foot-link > span:after {
  content: "";
  position: absolute;
  height: 3px !important;
  display: block;
  margin-top: -1px;
  right: 0;
  background: transparent;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.foot-link > span:hover:after {
  width: 100%;
  background: #fdc737;
}

.foot-link > span {
  position: relative;
}

/* PRIVACY */

.a-privacy .a-privacy:focus {
  color: #172338 !important;
  border-bottom: 1px solid #172338 !important;
}

.a-privacy:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: transparent;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  border: none !important;
}

.a-privacy:hover {
  border: none !important;
}

.a-privacy:hover:after {
  width: 100%;
  left: 0;
  color: #172338 !important;
  background: #fdc737;
  border: none !important;
}

.a-privacy {
  color: #172338 !important;
  position: relative;
  border-bottom: 1px solid #172338 !important;
}

/* FORM */

/* Form */
.form {
  padding: 0px;
  font-size: 1em;
  font-weight: 300;
  margin-top: 50px;
}
.form_input {
  padding: 20px !important;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid silver;
}
.form_label {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    width: 32% !important;
  }
}

@media only screen and (max-width: 960px) {
  .navbar-brand {
    width: 50% !important;
  }

  .small-div,
  .banner-div,
  .button-div {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    width: 50% !important;
  }

  .small-div,
  .banner-div,
  .button-div {
    width: 100% !important;
  }

  .banner-text {
    padding: 150px 0 150px 0;
  }

  .banner-heading {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .banner-sub-heading {
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }

  .footer {
    text-align: center !important;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-nav {
    z-index: 1;
    margin-top: 5px;
  }

  .navbar-brand {
    width: 70% !important;
  }

  .navbar-nav .nav-item .nav-link > span {
    padding: 0.7em 1em !important;
    font-size: 100%;
    font-weight: 500;
  }

  .banner-text {
    padding: 150px 0 150px 0;
  }

  .banner-heading {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .banner-sub-heading {
    font-weight: 200;
    margin-bottom: 40px;
  }

  .footer {
    text-align: center !important;
  }
}

/* Registration CSS */

.regisTable {
  border-collapse: collapse;
  padding: 20px;
  background-color: #dddddd;
}
.regisTable td {
  padding: 20px;
}

.regisTable #row {
  background-color: #428bca;
  color: #fff;
}
.regisTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Toggle Switch Blue */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: Tomato;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00c851;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00c851;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Toggle Switch Green */

.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: Tomato;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider2 {
  background-color: #00c851;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #00c851;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}
