/* HEADER */

.navbar-nav .nav-item .nav-link > span {
  padding: 1.1em 0.5em !important;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #28A745 !important;
}

.nav-item:focus .nav-link > span:focus {
  color: #28A745 !important;
}

.nav-item .nav-link > span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: transparent;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.nav-item .nav-link > span:hover:after {
  width: 100%;
  left: 0;
  background: #28A745;
}

.productTitle, .productTitle a
{
  color: #28A745;
}

.navbar-toggler:focus {
  outline: none !important;
}

nav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

.navbar {
  transition: 500ms ease;
  background: #fff;
}

/* .navbar.scrolled {
  background: #172338;
}

.navbar.scrolled .nav-item .nav-link>span {
  color: #fff !important;
}

.nav-item.scrolled:focus .nav-link>span.scrolled:focus {
  color: #fff !important;
} */

.nav-item .nav-link > span {
  position: relative;
}

::selection {
  color: white;
  background: #28A745;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
}
h5 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}

.parent img {
  object-fit: cover;
  height: 200px;
}

/* Universal Cover class for setting object-fit to cover */

.cover
{
  object-fit: cover;
}

/* Images within the thumbnails area of the show page section */
#thumbnails img
{
  width: 100px;
}

/* .carousel
{
  width: 200px;
  height: 200px;
} */

#btnRemoveProduct {
  font-size: 0.75em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#minbidwarning {
  font-style: italic;
  align-items: baseline;
}

#locationMap
{
  height: 300px;
}

.carimg {
  max-width: 400px;
  object-fit: contain;
  max-height: 400px !important;
}