/* HEADER */

.navbar-nav .nav-item .nav-link>span {
  padding: 1.1em 0.5em !important;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #172338 !important;
}

.nav-item:focus .nav-link>span:focus {
  color: #172338 !important;
}

.nav-item .nav-link>span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: transparent;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.nav-item .nav-link>span:hover:after {
  width: 100%;
  left: 0;
  background: #fdc737;
}

.navbar-toggler:focus {
  outline: none !important;
}

nav {
  -webkit-transition: padding-top .3s, padding-bottom .3s;
  -moz-transition: padding-top .3s, padding-bottom .3s;
  transition: padding-top .3s, padding-bottom .3s;
  border: none;
}

.navbar {
  transition: 500ms ease;
  background: #fff;
}

/* .navbar.scrolled {
  background: #172338;
}

.navbar.scrolled .nav-item .nav-link>span {
  color: #fff !important;
}

.nav-item.scrolled:focus .nav-link>span.scrolled:focus {
  color: #fff !important;
} */

.nav-item .nav-link>span {
  position: relative;
}


::selection
{
  color: white;
  background: #fdc737;
}

h1
{
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  color: #fff;
}
h5
{
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

#btnRemoveProduct {
  font-size: 0.8em;
}
