<% include ../partials/header %>
<h1>Opwaarderen</h1>
<p>

</p>
<div class="sr-root">
  <div class="sr-main">
    <div class="sr-result">
      <p>Payment succeeded<br /></p>
      <pre>
            <code></code>
          </pre>
    </div>
  </div>
</div>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  var paymentIntentId = urlParams.get("payment_intent");
  if (paymentIntentId)
  {
    fetch("/stripe/payment-intent?paymentIntentId=" + paymentIntentId)
      .then(function (result)
      {
        return result.json();
      })
      .then(function (paymentIntent)
      {
        if (paymentIntent.status !== "succeeded")
        {
          // redirect to failure
          alert("T is nait lukt mit betoaln");
        }
        else if (paymentIntent.status == "succeeded")
        {
          alert("T is lukt mit betoaln");
        }
      });
  }
</script>
<% include ../partials/footer %>