<% include ../partials/header %>

<h1>Overzicht gestarte threads:</h1>

<% allMessages.forEach(function(message){ %>
<p><%= message.author.username %> - <%=moment(message.createdAt).format("DD MMM, h:mm")%> - <%= message.content %></p>
<a href="/account/berichten/<%=message.id%>/thread">Toon thread</a>
<% }) %>

<br />

<% include ../partials/footer %>