<% include ../partials/header %>
<div class="row mt-5 text-center">
  <div class="container-fluid col-4 border">
    <h6>Naam: <%= currentUser.username %></h6>
    <h6>Lid sinds: <%=moment(currentUser.createdAt).format("DD MMM YYYY")%></h6>
    <h6>Email: <%= currentUser.email %></h6>
    <h4><a class="btn btn-primary" href="/account/berichten">Mijn berichten</a></h4>
  </div>
  <%= JSON.stringify(products); %>
</div>
<% include ../partials/footer %>