<% include ../partials/header %>

<div class="container p-5">
  <% include ../partials/messages %>
  <form action="/auth/signup" method="post">
    <div class="form-group">
      <label>Gebruikersnaam:</label>
      <input class="form-control" type="text" name="username" value="<%= typeof name != 'undefined' ? name : '' %>" />
    </div>
    <div class="form-group">
      <label>E-mailadres:</label>
      <input class="form-control" type="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" />
    </div>
    <div class="form-group">
      <label>Wachtwoord:</label>
      <input class="form-control" type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" />
    </div>
    <div class="form-group">
      <label>Herhaal wachtwoord:</label>
      <input class="form-control" type="password" name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
    </div>
    <div>
      <button class="btn btn-success" type="submit">
        Registreer hier
      </button>
    </div>
  </form>
  <p>Heeft u al een account? <a href="/auth/login">Log hier dan in</a></p>
</div>

<% include ../partials/footer %>
