<% include ../partials/header %>
<h1 class="text-dark">Alle categorieën</h1>
<div class="row">
    <% categories.forEach(function(category){ %>
    <div class="col-lg-3 card-deck">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="text-dark"><%=category.title%></h5>
                <div class="card-text"><%=category.description%></div>
                <span class="badge badge-info text-dark p-2"><%=product.category%></span>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<% include ../partials/footer %>