<% include ../partials/header %>
<h1 class="text-dark">Alle categorieën</h1>
<div class="row">
    <% categories.forEach(function(category){ %>
    <div class="col-lg-3 card-deck">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="text-dark"><%=category.title%></h5>
                <div class="card-text"><%=category.description%></div>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<!--
<div class="row">
    <div class="col m-2">
        <a href="/categories/new" title="Klik hier om een nieuwe categorie toe te voegen" class="btn btn-warning">Categorie toevoegen</a>
    </div>
</div>
// -->
<% include ../partials/footer %>