<% include ../partials/header %>
<h1 class="text-dark">Alle categorieën</h1>
<div class="row">
  <% categories.forEach(function(category){ %>
  <div class="col-sm-6 col-lg-3 col-md-3 col-3 card-deck">
    <div class="card shadow m-2">
      <div class="card-body">
        <h5 class="text-dark"><%=category.title%></h5>
        <div class="card-text"><%=category.description.substring(0, 50)%></div>
        <span class="badge badge-info text-dark p-2"><%=product.category%></span>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<% include ../partials/footer %>
