<% include ../partials/header %>

<h1>Nieuwe categorie</h1>

<form action="/categories" method="POST">
  <div class="form-group">
    <label for="title">Categorie</label>
    <input type="text" class="form-control" id="title" name="category[title]" placeholder="Titel" required />
  </div>
  <input class="btn btn-outline-warning" type="submit" value="Opslaan" />
</form>
<% include ../partials/footer %>
