<% include ../partials/header %>

<h1>Mijn conversaties</h1>
<ul class="list-group">
    <% threads.forEach(function(thread) { %>
    <li class="list-group-item">
    
    <div class="row">
        <div class="col col-md-4">
                Conversatie met <strong><%
    // Get the other user to display in the title
    if (currentUser.id == thread.users[0]._id) { %>
    <%=thread.users[1].username%>
    <% } else { %>
    <%=thread.users[0].username%>
    <% } %></strong>
    over <strong><%=thread.product._id.title %></strong>
        </div>  
        <div class="col-md-4 ml-auto text-right">
                <a class="btn btn-primary right" href="/account/berichten/<%=thread.id%>">Ga naar conversatie</a>
            </div>  
    </div>
    
    <% }); %>
</li>
</ul>

<% include ../partials/footer %>