<% include ../partials/header %>

<h1 class="text-dark">Nieuwe advertentie</h1>

<form action="/advertenties" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Titel</label>
    <input type="text" class="form-control" id="title" name="product[title]" placeholder="Titel" required>
  </div>
  <div class="form-group">
    <label for="category">Categorie</label>
    <input type="text" class="form-control" id="category" name="product[category]" placeholder="Categorie" required>
  </div>
  <div class="form-group">
      <label for="images">Afbeeldingen</label>
      <input type="file" class="form-control-file" id="images" name="productImages" multiple="multiple">
  </div>
  <div class="form-group">
    <label for="price">Prijs</label>
    <input type="number" class="form-control" id="price" name="product[price]" placeholder="Prijs" step="0.01" required />
  </div>
  <div class="form-group">
    <label for="minprice">Minimale prijs</label>
    <input type="number" class="form-control" id="minprice" name="product[minprice]" placeholder="Minimale prijs" step="0.01" />
  </div>
  <div class="form-group">
    <label for="body">Omschrijving</label>
    <textarea class="form-control" id="body" rows="3" name="product[body]" placeholder="Geef een omschrijving" required maxlength="400"></textarea>
  </div>
  <input class="btn btn-warning" type="submit" value="Opslaan">
</form>
<% include ../partials/footer %>
