<% include ../partials/header %>

<h1 class="text-dark">Nieuwe advertentie</h1>

<form action="/advertenties" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Titel</label>
    <input type="text" class="form-control" id="title" name="product[title]" placeholder="Titel" required>
  </div>
  <div class="form-group">
    <label for="category">Categorie</label>
    <input type="text" class="form-control" id="category" name="product[category]" placeholder="Categorie" required>
  </div>
  <div class="form-group">
    <label for="images">Afbeeldingen</label>
    <input type="file" class="form-control-file" id="images" name="productImages" multiple="multiple">
  </div>
  <label>Locatie:</label>
  <div id="locationMap"></div>
  <div class="form-row">
    <div class="form-group-inline col-6">
      <label for="latitude">Breedtegraad</label>
      <input type="number" id="latitude" class="form-control" name="latitude" placeholder="53.203230" step="any"
        value="53.203230" readonly>
    </div>
    <div class="form-group-inline col-6">
      <label for="longitude">Lengtegraad</label>
      <input type="number" id="longitude" class="form-control" name="longitude" placeholder="6.555360" step="any"
        value="6.555360" readonly>
    </div>
  </div>
  <div class="form-group">
    <label for="municipality">Gemeente</label>
    <select id="municipality" name="product[municipality]" class="form-control select2" required>
      <option value="">--- Kies gemeente ---</option>
      <% municipalities.forEach(municipality => { %>
      <option value="<%=municipality%>"><%=municipality%></option>
      <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label for="price">Prijs</label>
    <input type="number" class="form-control" id="price" name="product[price]" placeholder="Prijs" step="0.01" required>
  </div>
  <div class="form-group">
    <label for="minprice">Minimale prijs</label>
    <input type="number" class="form-control" id="minprice" name="product[minprice]" placeholder="Minimale prijs"
      step="0.01">
  </div>
  <div class="form-group">
    <label for="body">Omschrijving</label>
    <textarea class="form-control" id="body" rows="3" name="product[body]" placeholder="Geef een omschrijving" required
      maxlength="400"></textarea>
  </div>
  <input class="btn btn-warning" type="submit" value="Opslaan">
</form>
<script>
  // Geolocation of the Netherlands, happily borrowed from https://developers.google.com/public-data/docs/canonical/countries_csv
  let defaultCenter = [52.132633, 5.291266];
  let defaultZoomLevel = 5;
  let locationMap = L.map("locationMap").setView(defaultCenter, defaultZoomLevel);

  // Implement Geocoding Service
  let geocodeService = L.esri.Geocoding.geocodeService();

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
    {
      center: defaultCenter,
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoibXNnYmlnaG91c2UiLCJhIjoiY2sxaHdrY214MDZkbDNoanpwNW9rcjRsOSJ9.YXMtqR_k0YWeKNnAZHmhdg'
    })
    .addTo(locationMap);

  var marker = L.marker(defaultCenter).addTo(locationMap);
  var updateMarker = function (lat, lng)
  {
    marker
      .setLatLng([lat, lng]);
    return false;
  };

  locationMap.on('click', function (e)
  {
    $('#latitude').val(e.latlng.lat);
    $('#longitude').val(e.latlng.lng);
    updateMarker(e.latlng.lat, e.latlng.lng);

    // Lookup the geocode to return back a municipality
    geocodeService.reverse().latlng(e.latlng).run(function (error, result)
    {
      if (error)
      {
        return;
      }
      marker.bindPopup(result.address.Subregion).openPopup();

      // Let select2 change the value to selected municipality
      if (result.address.Subregion != "")
      {
        $('#municipality').val(result.address.Subregion);
        // Trigger visual update on select element
        $('#municipality').trigger('change');
      }
    });
  });

</script>
<% include ../partials/footer %>